<% provide(:title, "Edit Pet Profile") %>

<div class="ui container">
	<div class="ui vertical stripe segment">
	  <h2 class="ui teal header">
	    <div class="content">Edit Pet Profile</div>
	  </h2>
	  <%= render "petForm" %>
  </div>
</div>
