 <div class="ui container">
  <div class="ui vertical stripe segment">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Find Pets</a>
      <a class="item" data-tab="second">Find Sitters</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="first">
       <div class="ui action input">
        <input type="text" placeholder="Zip code...">
        <select class="ui compact selection dropdown" style="height:auto !important;">
          <option value="guineapig">Guinea Pig</option>
          <option value="rabbit">Rabbits</option>
          <option value="dogs">Dogs</option>
          <option value="cats">Cats</option>
          <option value="other">Other</option>
        </select>
        <div type="submit" class="ui icon button"><i class="search icon"></i></div>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <div class="ui action input">
        <input type="text" placeholder="Zip code...">
        <div type="submit" class="ui icon button"><i class="search icon"></i></div>
      </div>
    </div>

    <div class="ui divided items">

      <% @pets.each do |pet| %>
        <div class="item">
          <div class="ui small image">
            <img src="..\app\assets\images\Dogs\annie.jpg">
          </div>
          <div class="top aligned content">
            <div class="header"><%= pet.name %></div>
            <div class="meta">
              <span><i class="home icon"></i>San Diego, CA</span>
            </div>
            <div class="description">
              <span>Gender: TODO</span><br/>
              <span>Breed: <%= pet.breed %></span><br/>
              <span>Details: <%= pet.details %></span>
            </div>
            <div class="extra">
              <%= link_to "View Profile", pet_path(pet), class:"ui right floated button" %>
              <div class="ui right floated button">
                Message owner
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
