<div class="ui container">
<div class="ui vertical stripe segment">
  <h2 class="ui teal header">
    <div class="content">
      Create a Pet Profile
    </div>
  </h2>
    <%= form_for :pet, html: {class: "ui form"} , url: pets_path do |f|%>
      <div class="ui two column stackable grid">
        <div class="column">

          <div class="field">
            <label>Pet Name</label>
            <div class="two fields">
              <div class="field">
                <%= f.text_field :name %>
              </div>
            </div>
          </div>

          <div class="grouped fields">
            <label>Animal Type</label>
            <div class="ui equal width grid">
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Dog</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Cat</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Rabbit</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Small Rodent (hamster, guinea pig)</label>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Bird</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Reptile</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="animalType">
                    <label>Other</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grouped fields">
            <label>Gender</label>
            <div class="ui equal width grid">
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender">
                    <label>Female</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender">
                    <label>Male</label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender">
                    <label>Other</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grouped fields">
            <label>Weight</label>
             <div class="ui equal width grid">
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="weight">
                    <label>Under 25 lbs</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="weight">
                    <label>25-50 lbs</label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="weight">
                    <label>50-75 lbs</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="weight">
                    <label>75+ lbs</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grouped fields">
            <label>Age</label>
            <div class="ui equal width grid">
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="age">
                    <label>Young</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="age">
                    <label>Adult</label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="age">
                    <label>Senior</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="age">
                    <label>Unknown</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
           <div class="field">
            <label>Breed (optional)</label>
            <div class="two fields">
              <div class="field">
                <%= f.text_field :breed, 
                  placeholder:"Ex: Holland Lop Rabbit" %>
              </div>
            </div>
          </div>

          <div class="field">
            <label>Description</label>
            <%= f.text_area :details, 
                  placeholder:"Please write a short description about your pet. If you are seeking pet sitters, please inform if your has special needs." %>
          </div>

          <div class="field">
            <label>Profile Picture</label>
            <div class="ui action input">
              <input type="text" placeholder="Upload Image File (jpg, png) - Max size 2MB ">
              <button class="ui icon button">
                <i class="file image outline icon"></i>
              </button>
            </div>
          </div>

          <div class="field">
            <label>Are you looking for a pet sitter?</label>
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Yes, I am. (TODO: Add DatePicker under the toggle when select yes.)</label>
            </div>
          </div>
        </div>
      </div>

      <button class="ui grey button right floated" type="submit">Back</button>

      <button class="ui teal button right floated" type="submit">Save</button>
    <% end %>
  </div>
</div>
