<% provide(:title, "Create Pet Profile") %>

<div class="ui container">
	<div class="ui vertical stripe segment">
	  <h2 class="ui header">
	    <div class="content">
	      Create a Pet Profile
	    </div>
	  </h2>
	  <%= render "petForm" %>
	  </div>
</div>
