<div class="ui modal" id="message">
  <i class="close icon"></i>
  <div class="header">
    Message to <%= profile.full_name %>
  </div>
  <div class="text content">
    <div class="ui form">
      <%= hidden_field_tag "profile_id", profile.id %>
      <div class="field">
        <textarea id="messageText" rows="6" placeholder="Send a message..."></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" id="sendMsgDialogBtn">
      Send
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>