<div class="ui modal" id="message">
  <i class="close icon"></i>
  <div class="header">
    Message <%= name%>
  </div>
  <div class="text content">
    <div class="ui form">
      <div class="field">
        <label>Subject</label>
        <input type="text">
      </div>
      <div class="field">
        <label>Text</label>
        <textarea></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Send
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>