<div class="ui modal" id="message">
  <i class="close icon"></i>
  <div class="header">
    Message to <%= profile.full_name %>
  </div>
  <div class="text content">
    <% if user_signed_in? && current_user.profile.nil? %>
      <div class="ui error message">
        <div class="header">You must create a user profile before sending messages.</div>
      </div>
    <% end %>
    <div class="ui form">
      <%= hidden_field_tag "profile_id", profile.id %>
      <div class="field">
        <textarea id="messageText" rows="6" placeholder="Send a message..."></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button <%= 'disabled' if user_signed_in? && current_user.profile.nil? %>" id="sendMsgDialogBtn">
      Send
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>