<%= text_field_tag(:petZip, nil, placeholder: "Zip Code...") %>
<%= select_tag(
	:petSpecies, 
	'<option value="Dog">Dog</option>
	<option value="Cat">Cat</option>
	<option value="Bird">Bird</option>
	<option value="Small Rodent">Small Rodent</option>
	<option value="Reptile">Reptile</option>
	<option value="Other">Other</option>'.html_safe, 
	class: "ui compact selection dropdown", 
	style: "padding: 0.5em !important;") %>