<% provide(:title, "Our Story") %>

<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui container">
      <h3 class="ui header">Our Story</h3>
		
    </div>
  </div>
</div>