<% provide(:title, "Coming Soon") %>

<div class="pusher">
  <div class="ui vertical stripe segment">
		<div class="ui text container center aligned masthead">
      <h1 class="ui header">
        Coming Soon
      </h1>
      <h2>We're working hard to add new features. Thank you for your patience.</h2>
      <h2 class="ui medium icon header">
        <a href="/"><i class="home icon"></i>
        <div class="content">
          Return Home
        </div>
        </a>
      </h2>
    </div>
  </div>
</div>
