   <div class="ui top fixed menu">
      <div class="ui container">
        <a class="active item">Pets fur Lease</a>
        <a class="item">Look for help</a>
        <a class="item">Be a sitter</a>
        <a class="item">FAQ</a>
        <a class="item">Contact</a>

        <div class="right menu ">
          <a href="login-signup.html" class="item">Log In</a>
          <a href="signup-form.html" class="item">Sign Up</a>
        </div>
      </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui vertical masthead center aligned segment" style="background-color:#808080;">
         <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column">
              <h1 class="ui header">Pets Fur Lease</h1>
                <p>
                  TODO: Write some kind of fancy dancy introduction
                </p>
                <p>
                  Aminals are adorbzzzzzzzzz. We lurve dem so much 
                </p>

                <p>Please visit our "Be a sitter" section to help our your fellow neighbor and enjoy
                the company of a furry friend. </p>
                <strong>Give some belly rubs and help a neighbor in need.</strong>

            </div>
            <div class="eight wide center aligned column">
              <img src="..\app\assets\images\bunbungrey.jpg" class="ui image">
              <p><small>Inspiration mascot Bunbun (now known as Brianna)</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
             <div class="ui fluid padded container">
                <div class="ui three steps">
                  <a href="userProfile.html" class="step" >
                    <i class="user icon"></i>
                    <div class="content">
                      <div class="title">Create a profile </div>
                      <div class="description">Tell us about yourself and your pets.</div>
                    </div>
                  </a>
                  <a href="search.html" class="step">
                    <i class="Comments Outline icon"></i>
                    <div class="content">
                      <div class="title">Connect with others</div>
                      <div class="description">Find fellow animal lovers in your area.</div>
                    </div>
                  </a>
                  <a class="step">
                    <i class="paw icon"></i>
                    <div class="content">
                      <div class="title">Spend time with furry friends</div>
                      <div class="description">Give some belly rubs and treats.</div>
                    </div>
                  </div>
                </a>
            </div> 
        </div>
      </div>

      <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3 class="ui header">I'm a pet owner looking for help</h3>
              <p>  
                Put something here to describe<br/>
                the benefits a pet owner would get <br/>
                from using this service <br/>
              </p>
              <div class="row">
                <div class="ui action input">
                  <input type="text" placeholder="Zip code...">
                  <div type="submit" class="ui icon button"><i class="search icon"></i></div>
                </div>
              </div>
            </div>

            <div class="column">
              <h3>I'm looking to spend time with a furry friend</h3>
              <p>
                Write something here to describe<br/>
                what a pet seeker would get out of this<br/>
                Ex. helping neighbors, experience having diff pets<br/>
                Spending time with some animals
              </p>
              <div class="ui action input">
                <input type="text" placeholder="Zip code...">
                <select class="ui compact selection dropdown" style="height:auto !important;">
                  <option value="guineapig">Guinea Pig</option>
                  <option value="rabbit">Rabbits</option>
                  <option value="dogs">Dogs</option>
                  <option value="cats">Cats</option>
                  <option value="other">Other</option>
                </select>
                <div type="submit" class="ui icon button"><i class="search icon"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui container">
          <h3 class="ui header center aligned">Mutually Beneficial</h3>

          <div class="ui three cards">
            <div class="ui card">
              <div class="content">
                <div class="header">
                    <img class="ui circular tiny image" src="..\app\assets\images\Dogs\sidinstagramcute.jpeg">
                    Cute Dog Sid 
                </div>
                <div class="meta">
                  Rating:
                  <div class="ui star rating" data-rating="4" data-max-rating="4"></div>
                </div>
                <div class="description">
                  <p>
                    I loved sitting Sid for a week. He is adorable and very well behaved. It was a pleasure.
                  </p>
                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <img class="ui avatar image" src="..\app\assets\images\Portraits\JonAnderson.jpg">Jonathan Anderson
                </div>
              </div>
            </div>
            <div class="ui card">
              <div class="content">
                <div class="header">
                    <img class="ui circular tiny image" src="..\app\assets\images\Dogs\annie.jpg">
                    Playful Annie 
                </div>
                <div class="meta">
                  Rating:
                  <div class="ui star rating" data-rating="4" data-max-rating="4"></div>
                </div>
                <div class="description">
                  <p>
                    Annie is extremely playful. She is not shy at all. It was a blast spending the weekend with her. She's always has a smile for you and she got along with my cats really well. 
                  </p>
                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <img class="ui avatar image" src="..\app\assets\images\Portraits\pewpew.png"> Donna L.
                </div>
              </div>
            </div>
             <div class="ui card">
              <div class="content">
                <div class="header">
                    <img class="ui circular tiny image" src="..\app\assets\images\Portraits\kevinDuensing.jpg">
                    Thank you Kevin
                </div>
                <div class="meta">
                  Rating:
                  <div class="ui star rating" data-rating="4" data-max-rating="4"></div>
                </div>
                <div class="description">
                  <p>
                    Kevin helped me watch my bunny Bunbun for 2 weeks. He took really great care of her. He would send me pictures every few days and she looked like she had a great time with him.
                  </p>
                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <img class="ui avatar image" src="..\app\assets\images\IMG_20150821_185930.jpg"> Bonnie
                </div>
              </div>
            </div>
          </div>

          <h4 class="ui horizontal header divider">
            <a href="#">Read more user reviews</a>
          </h4>

          <div class="ui stackable grid container">
            <div class="row center aligned">
              <div class="eight wide column">
                <h3 class="ui header">Contact Us</h3>
                <p>
                  PO Box TBD San Diego, California TBD </br>
                  email us: petsfurlease@gmail.com </br>
                </p>
              </div>
              <div class="eight wide column">
                <h3 class="ui header">Donate &amp; help keep us going</h3>
                <a href="#"><i class="huge paypal card icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>