<% provide(:title, "Become a Sitter") %>

<div class="ui vertical secondaryhead segment" id="sitterBanner">
  <div class="ui grid container">
    <div class="seven wide column left floated">
      <h1 class="ui header">Become a Sitter</h1>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div> 
<div class="ui padded basic segment container">
  <div class="ui horizontal segments">
	  <div class="ui segment">
	  	<h2 class="ui header">For parents:</h2>
	    <div class="ui huge list">
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Floated Icon</div>
			      <div class="description">This text will always have a left margin to make sure it sits alongside your icon</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Icon Alignment</div>
			      <div class="description">Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    Inline Text
			  </div>
			</div>
		</div>

	  <div class="ui segment">
	  	<h2 class="ui header">For business:</h2>
	   	<div class="ui huge list">
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Floated Icon</div>
			      <div class="description">This text will always have a left margin to make sure it sits alongside your icon</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Icon Alignment</div>
			      <div class="description">Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    Inline Text
			  </div>
			</div>
	  </div>
	  <div class="ui segment">
	  	<h2 class="ui header">For everyone:</h2>
	    <div class="ui huge list">
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Floated Icon</div>
			      <div class="description">This text will always have a left margin to make sure it sits alongside your icon</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Icon Alignment</div>
			      <div class="description">Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="paw icon"></i>
			    <div class="content">
			      <div class="header">Icon Alignment</div>
			      <div class="description">Floated icons are by default top aligned. To have an icon top aligned try this example.</div>
			    </div>
				</div>
	  	</div>
		</div> 
	</div> 
</div> 
<div class="ui container">
	<div class="ui horizontal divider">
	  <%= link_to new_user_session_path do%>
	    <div class="ui huge blue button">Join us for Free</div>
	  <% end %>
	</div>
</div> 
<div class="ui stackable grid container">
  <div class="row center aligned">
    <div class="eight wide column ui padded basic segment">
      <h2 class="ui medium icon header">
        <a href="mailto:petsfurlease@gmail.com">
        	<i class="mail outline icon"></i>
	        <div class="content">
	          Contact Us
	          <div class="sub header">petsfurlease@gmail.com</div>
	        </div>
        </a>
      </h2>
    </div>
    <div class="eight wide column ui padded basic segment">
      <h2 class="ui medium icon header">
        <a href="/faq">
        	<i class="help circle icon"></i>
	        <div class="content">
	          For more help
	          <div class="sub header">check out the FAQ</div>
	        </div>
        </a>
      </h2>
    </div>
  </div>
</div>

