<div class="ui container">
      <div class="ui vertical stripe segment">
        <div class="ui two column grid">
          <div class="four wide column">
              <img class="ui bordered rounded image" src="..\app\assets\images\Portraits\kevinDuensing.jpg">
              <h3>Kevin Duensing</h3>
              <p><i class="marker icon"></i>San Diego, CA</p>
              <p><i class="paw icon"></i>Volunteer Pet Sitter<p>
              <p><i class="Thumbs Outline Up icon"></i><a href="#UserReviews">Read Reviews</a><p>
              <p><i class="mail icon"></i><a href="#" onclick="composeMsg();">Send a Message</a><p>
          </div>
          <div class="twelve wide column">
            <div class="ui segment">
              <h4>Experience with animals:</h3>
              <p>
                I am a retired Accountant enjoying sunny San Diego. I would love the opportunity to spend time with your furry friend. While I do not currently have my own, I have had the privilege of sharing my life with dogs in the past. They were my babies and I'll treat yours as if they are my own. I enjoy filling my day by exploring the local parks and scenery - your 4-legged friend is welcome to tag along if they are an explorer as well. If they are more of a stay-at-home type (a couch-canine) we can do that too. And if your baby has special needs (injections or oral meds) please let me know - I have experience administering both. I live in a secure apartment building downtown which has a 40 pound weight limit for all animals. I have a cat named Max that shares my apartment. He is a Maine Coon who is a typical grumpy cat, but harmless.
              </p>
            </div>

            <div class="ui segment">
              <h4>Pet Profiles:</h4>
              <div class="ui items">
                <div class="item">
                  <a class="ui small image">
                    <img src="..\app\assets\images\Dogs\sidinstagramcute.jpeg">
                  </a>
                  <div class="content">
                    <a class="header">Sid</a>
                    <div class="description">
                      <p>Many people also have their own barometers for what makes a cute dog.</p>
                    </div>
                  </div>
                </div>
                 <div class="item">
                  <a class="ui small image">
                    <img src="..\app\assets\images\Dogs\penny.jpeg">
                  </a>
                  <div class="content">
                    <a class="header">Penny</a>
                    <div class="description">
                      <p>A dog is not considered a good dog because he is a good barker. A man is not considered a good man because he is a good talker.</p>
                    </div>
                  </div>
                </div>
                 <div class="item">
                  <a class="ui small image">
                    <img src="..\app\assets\images\Dogs\leonporthole.jpeg">
                  </a>
                  <div class="content">
                    <a class="header">Leon</a>
                    <div class="description">
                      <p>If you pick up a starving dog and make him prosperous, he will not bite you; that is the principal difference between a dog and a man.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui segment">
              <h4>User Review: <a class="hidden" name="UserReviews"></a></h4>
              <div class="ui comments">
                <div class="comment">
                  <a class="avatar" style="height:2.5em;">
                    <img src="..\app\assets\images\Portraits\pewpew.png">
                  </a>
                  <div class="content">
                    <a class="author">Donna Lou</a>
                    <div class="ui star rating" data-rating="4"></div>
                    <div class="metadata">
                      <div class="date">2 days ago</div>
                    </div>
                    <div class="text">
                      Kevin helped me watch my bunny Bunbun for 2 weeks. He took really great care of her. He would send me pictures every few days and she looked like she had a great time with him.
                    </div>
                  </div>
                </div>
                 <div class="comment">
                  <a class="avatar" style="height:2.5em;">
                    <img src="..\app\assets\images\Portraits\pewpew.png">
                  </a>
                  <div class="content">
                    <a class="author">Donna Lou</a>
                    <div class="ui star rating" data-rating="4"></div>
                    <div class="metadata">
                      <div class="date">2 days ago</div>
                    </div>
                    <div class="text">
                      Kevin helped me watch my bunny Bunbun for 2 weeks. He took really great care of her. He would send me pictures every few days and she looked like she had a great time with him.
                    </div>
                  </div>
                </div>
                 <div class="comment">
                  <a class="avatar" style="height:2.5em;">
                    <img src="..\app\assets\images\Portraits\pewpew.png">
                  </a>
                  <div class="content">
                    <a class="author">Donna Lou</a>
                    <div class="ui star rating" data-rating="4"></div>
                    <div class="metadata">
                      <div class="date">2 days ago</div>
                    </div>
                    <div class="text">
                      Kevin helped me watch my bunny Bunbun for 2 weeks. He took really great care of her. He would send me pictures every few days and she looked like she had a great time with him.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>