 <% provide(:title, "FAQ") %>

<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui container">
      <h3 class="ui header">FAQ</h3>
		<div class="ui styled fluid accordion">
		  <div class="title">
		    <i class="dropdown icon"></i>
		    What kind of animals can I request pet sitting on?
		  </div>
		  <div class="content">
		    <p class="transition hidden">We recommend sitting of domestic pets only. Exotic pets are not recommended due to unfamiliarity of animals needs and difficulties in relocating habitats.</p>
		  </div>
		  <div class="title">
		    <i class="dropdown icon"></i>
		    Where do I drop off my pet at?
		  </div>
		  <div class="content">
		    <p>Pet owners are required to work out specific details with pet sitters regarding drop off and pick up as well as supplies provided for proper pet care.</p>
		  </div>
		  <div class="title">
		    <i class="dropdown icon"></i>
		   	How do I report lost pets?
		  </div>
		  <div class="content">
		    <p>Pets Fur Lease is not responsible for any lost animals. If your pet was lost during sitting time, please work out logistics with your pet sitter. In addition, we recommend you writing a negative review for the sitter so other users can be warned.</p>
		  </div>
		</div>
    </div>
  </div>
</div>