    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui vertical stripe segment">
        <div class="ui container">
          <h3 class="ui header">FAQ</h3>

         
        </div>
      </div>
    </div>