// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeBanner{
	background-image: image-url('miso.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#sitterBanner{
	background-image: image-url('wahbeebee.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 0px bottom -225px;
}