<% provide(:title, "Edit User Profile" ) %>

 <div class="ui container">
  	<div class="ui vertical stripe segment">
	    <h2 class="ui header">Edit User Profile</h2>

      <%= render :partial => "profileForm"%>
  	</div>
</div>
