 <div class="ui container">
  <div class="ui vertical stripe segment">
    <h2 class="ui teal header">
	    <div class="content">
	      Create a User Profile
	    </div>
	  </h2>

	  <%= form_for @profile, url: profile_index_path, html: { method: :post, class:"ui form" } do |f|%>

 			<%= render "profileForm", f: f %>

		<% end %>

  </div>
</div>