<% provide(:title, "Create User Profile") %>

<div class="ui container">
  <div class="ui vertical stripe segment">
    <h2 class="ui header">Create a User Profile</h2>

    <%= render :partial => "profileForm"%>
  </div>
</div>