 <% provide(:title, "Create User Profile") %>

 <div class="ui container">
  <div class="ui vertical stripe segment">
    <h2 class="ui teal header">
	    <div class="content">
	      Create a User Profile
	    </div>
	  </h2>

		<%= render "profileForm", f: f %>

  </div>
</div>