<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About Us</h4>
        <div class="ui inverted link list">
          <%= link_to "FAQ", faq_path,  class: "item" %>
          <a href="mailto:petsfurlease@gmail.com" class="item">Contact</a>
          <a href="#" class="item">Terms of Service</a>
          <a href="#" class="item">Privacy Policy</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Helpful Tips</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">For Pet Owners</a>
          <a href="#" class="item">For Pet Sitters</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Top Cities</h4>
        <div class="ui inverted link list">
          <a href="/coming_soon" class="item">Los Angeles</a>
          <a href="/coming_soon" class="item">San Diego</a>
          <a href="/coming_soon" class="item">San Francisco</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Follow Us</h4>
        <div class="ui inverted link list">
          <a href=""><i class="large github icon grey "></i></a>
          <a href=""><i class="large facebook square icon grey"></i></a>
          <a href=""><i class="large twitter icon grey"></i></a>
          <a href=""><i class="large instagram icon grey"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>